<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
</head>
<body>
    <table cellpadding="10" cellspacing="0" width="100%" style="border: 1px solid #ddd; border-radius: 5px; font-family: Arial, sans-serif;">
        <tr>
            <td style="background-color: #1f305f; text-align: center; ">
                <h1 style="color: #e2f0f3;">Selamat Datang</h1>
            </td>
        </tr>
        <tr>
            <td align="right" valign="top"><img src="http://localhost:5193/Template/Email_Template/images/man.png" width="600" height="13" style="display:block;"></td>
        </tr>
        <tr>
            <h1>Hello, {{Name}}!</h1>
            <p>TERIMA KASIH SUDAH ADA!!!.</p>
            <p>Ini adalah Daftar buku .</p>
            <p>Your query returned {{BookCount}} books.</p>

        </tr>
        <p>Details:</p>
        <ul>
            <li>Detail 1: Test Template</li>
            <li>Detail 2: Dahulu kala ada yang kusebut rumah</li>
        </ul>
        <p>Thank you!</p>
    </table>
</body>
</html>